Q1 Print

ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [4]:
n = 4
for i in range(4) :
    for j in range(0, i +1) :
        print("ineuron" , end =" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [23]:
rows = 2   
k = 2 * rows - 1                         # It is used to print the space
for i in range(0, rows):                 # Outer loop to print number of rows    
    for j in range(0, k):                # Inner loop is used to print number of space  
        print(end="    ")    
    k = k - 1                            # Decrement in k after each iteration  
    for j in range(0, i + 1):            # This inner loop is used to print stars
        print("ineuron", end="   ")  
    print("")  
#  triangle Pyramid  
  
k = rows - 1                             # It is used to print the space
for i in range(rows, -1, -1):            # Output for triangle pyramid                        
    for j in range(k, 0, -1):            # inner loop will print the spaces
        print(end="    ")  
    k = k + 1                            # Increment in k after each iteration 
    for j in range(0, i + 1):             # This inner loop will print number of stars 
        print("ineuron", end="   ")  
    print("")

            ineuron
        ineuron   ineuron
    ineuron   ineuron   ineuron
        ineuron   ineuron
            ineuron

In [2]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,45,4,4,45,45,4,5]), {'k1' : "sudh", "k2" : "ineuron", "k3" :"kumar", 3:6,7:8}, ["ineuron", "data science"]]

Q3: Try to extract all the list entity?

In [25]:
for i in l:
    if type(i) == list  : 
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

Q4: Try to extract all the dict entity?

In [26]:
for i in l:
    if type(i) == dict  : 
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Q5: Try to extract all the tuples entity?

In [27]:
for i in l:
    if type(i) == tuple  : 
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

Q6 Try to extract all the numerical data it may b a part of dict key and values

In [3]:
for i in l:
    if type(i) == list or type(i) == tuple  or type(i) == set:
        for j in i:
            if type(j) == int :
                print(j)
    if type(i) == dict:
        for k,v in i.items() :
             if type(k) == int or type(v) == int :
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
5
4
45
23
3
6
7
8

Q7 : Try to give summation of all the numeric data

In [6]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple  or type(i) == set:
        for j in i:
            if type(j) == int :
                l1.append(j)
                # print(j)
    if type(i) == dict:
        for k,v in i.items() :
             if type(k) == int or type(v) == int :
                # print(k)
                # print(v)
                l1.append(k)
                l1.append(v)

In [7]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 3, 6, 7, 8]

In [8]:
Sum = sum(l1, 22)
print(Sum)

178

Q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [19]:

for i in l:
    if type(i) == list or type(i) == tuple  or type(i) == set:
        for j in i:
            if type(j) == int and j %2 != 0 :     
                print(j)
    if type(i) == dict:
        for k,v in i.items() :
            if type(k) == int  and  k %2 != 0 :
                    print(k)
            if type(v) == int  and v %2 != 0  :
                    print(v)

1
3
3
5
3
5
7
5
45
23
3
7

Q9 : Try to extract "ineruon" out of this data

In [125]:
for i in l :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == "ineuron" :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == "ineuron" or v == "ineuron" :
                print(v)

ineuron
ineuron

Q10 :Try to find out a number of occurances of all the data

In [20]:
set(l1)

{1, 2, 3, 4, 5, 6, 7, 8, 23, 45}

In [21]:
for i in set(l1):
    print(i, ":" , l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
8 : 1
45 : 1
23 : 1

Q11 : Try to find out number of keys in dict element

In [189]:

for i in l :
    if type(i) == dict :
        for k,v in i.items(): 
                print(len(i.keys()))
                break

5

Q12 : Try to filter out all the string data

In [190]:
for i in l:
    if type(i) == list or type(i) == tuple  or type(i) == set:
        for j in i:
            if type(j) == str :     
                print(j)
    if type(i) == dict:
        for k,v in i.items() :
             if type(k) == str or type(v) == str :
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

Q13 : Try to Find  out alphanum in data

In [44]:
for i in l:
    if type(i) == list or type(i) == tuple  or type(i) == set:
        for j in i:
            if type(j) == str :  
                if j.isalnum() == True:
                    print(j)
    if type(i) == dict:
        for k,v in i.items() :
             if type(k) == str or type(v) == str :
                if k.isalnum() == True or v.isalnum() == True:
                    print(k)
                    print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron

Q14  : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [ ]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,45,4,4,45,45,4,5]), 
     {'k1' : "sudh", "k2" : "ineuron", "k3" :"kumar", 3:6,7:8}, ["ineuron", "data science"]]

In [68]:
Tuple = 1
Set = 1
Dict = 1
for i in l:
  if type(i) == tuple:
    for j in i:
      if type(j) == int:
        Tuple = Tuple * j
        #print(result_tuple)
  if type(i) == set:
    for j in i:
      if type(j) == int:
        Set = Set * j
  if type(i) == dict:
    for k,v in i.items():
      if type(k) == int:
        Dict = Dict * k
      if type(v) == int:
        Dict = Dict * v

print("Tuple:", Tuple, " Set:", Set," Dict: ", Dict)

Tuple: 1814400  Set: 20700  Dict:  1008

Q15 : Try to unwrape all the collection inside collection and create a flat list

In [270]:
flat_list = []
for i in l:
    for item in i:
        flat_list.append(item)

In [271]:
flat_list

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 5,
 4,
 45,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science']