In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [ ]:
q1 : Try to print a prime number in between 1 to 1000

In [37]:
for i in range(1,1000):
    for j in range(2,i):
        if (i%j==0):
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
q2 : Try to write a function which  is equivalent  to print function in python

In [42]:
import sys
  
def fun(a): 
    sys.stdout.write(a)
fun("America")

America

q3 : Try to write a function which is a replica of list append , extend and pop function

In [1]:
#Replica of Pop (Removes last index)

def my_pop(list1):
  list1.remove(list1[len(list1)-1])
  return list1

my_pop([4,5,6,1,2,3])

[4, 5, 6, 1, 2]

In [4]:
#Replica of Extend


def my_extend(list,n):
  for x in n:
    j=len(list)
    list.insert(j,x)
  return list

my_extend([1,2,3,4,7,6],eval(input("enter list here")))

enter list here1,4,'str'

[1, 2, 3, 4, 7, 6, 1, 4, 'str']

In [6]:
#Replica of Append
list=[]

def my_append(entries):
  for i in range(entries):
    n=eval(input())
    j=len(list)
    list.insert(j,n)
  return list

my_append(2)

4,5,'str'
'gh'

[(4, 5, 'str'), 'gh']

In [ ]:
q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [45]:
lst = ['oghkjhkh','skgkgku','shvgj','ankgg','mfgfj','afgfg']

import functools, operator
functools.reduce(operator.add, lst)

'oghkjhkhskgkgkushvgjankggmfgfjafgfg'

In [47]:
'@'.join(lst)

'oghkjhkh@skgkgku@shvgj@ankgg@mfgfj@afgfg'

In [ ]:
q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [49]:
[i * i for i in range(101)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [ ]:
q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [1]:
#1
double = lambda x: x * 2
print(double(5))

10

In [2]:
#2
adder = lambda x, y: x + y
print (adder (1, 2))

3

In [4]:
#3
string='some kind of a useless lambda'
print(lambda string : print(string))

#check this
x="some kind of a useless lambda"
(lambda x : print(x))(x)

<function <lambda> at 0x000001C4A5B24D30>
some kind of a useless lambda

In [5]:
#4
(lambda x: x + x)(2)

4

In [6]:
#5
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [7]:
#6
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [8]:
#7
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

In [9]:
#8
tables = [lambda x=x: x*10 for x in range(1, 11)]

for table in tables:
	print(table())

10
20
30
40
50
60
70
80
90
100

In [10]:
#9
animals = ['dog', 'cat', 'parrot', 'rabbit']

uppered_animals = list(map(lambda animal: str.upper(animal), animals))
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [12]:
#10
animals = ['DOG', 'CAT', 'PARROT', 'RABBIT']

low_animals = list(map(lambda animal: str.lower(animal), animals))
print(low_animals)

['dog', 'cat', 'parrot', 'rabbit']

In [ ]:
q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [55]:
File1 = open("C://Users//KRATI SHARMA//Desktop//File1.txt","r+")
def Fun(File1) :
    print("Output of Read function is ")
    print(File1.read())
    print()
    
Fun(File1)

Output of Read function is
dgrdtftS