In [1]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

Q1 . Try to reverse a list

In [2]:
l.reverse()

In [3]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

Q2. try to access 234 out of this list

In [4]:
l[0]

{'key1': 'sudh', 234: [23, 45, 656]}

In [5]:
l[0][234]

[23, 45, 656]

Q3 . try to access 456

In [6]:
l[3][1]

456

Q4 Try to extract only a list collection form list l

In [30]:
l[5] + l[6]

[345, 56, 87, 8, 98, 9, 345, 56, 87, 8, 98, 9]

Q5 . Try to extract "sudh"

In [7]:
l[0]['key1']

'sudh'

Q6 . Try to list all the key in dict element avaible in list

In [47]:
d = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [48]:
d[8].keys()

dict_keys(['key1', 234])

Q7 . Try to extract all the value element form dict available in list

In [46]:
d[8].values()

dict_values(['sudh', [23, 45, 656]])